*.asax    text
*.config  eol=crlf
*.cs      text diff=csharp
*.cshtml  text
*.csproj  eol=crlf
*.css     text
*.exe     -text
*.gif     -text
*.jpg     -text
*.js      -text
*.png     -text
*.resx    -text
*.sln     eol=crlf
*.xml     text
